apiVersion: v1
kind: Secret
metadata:
  name: adwise-secrets
  namespace: adwise
type: Opaque
data:
  FLASK_SECRET_KEY: ${FLASK_SECRET_KEY_BASE64}
  AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID_BASE64}
  AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY_BASE64}
  OPENAI_API_KEY: ${OPENAI_API_KEY_BASE64} 